<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <nav class="navbar bg-primary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Webshop</a>
          <form class="d-flex me-auto" role="search">
            <input class="form-control me-2" style="width: 20rem;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
          <button class="navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item active">
                  <a class="navbar-brand text-dark" href="/">
                      <img src="/images/homeicon.png" id="homeicon" width="30" height="30" class="d-inline-block align-text-top">
                      Home
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="navbar-brand text-dark" href="/login">
                      <img src="/images/login.png" id="homeicon" width="30" height="30" class="d-inline-block align-text-top">
                      Bejelentkezés
                  </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand text-dark" href="register">
                        <img src="/images/register.png" id="homeicon" width="30" height="30" class="d-inline-block align-text-top">
                        Regisztráció
                    </a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="center">
            <h1>Regisztráció</h1>
            <form action="" method="POST">
                <div class="txt_field">
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="username" required>
                    <span></span>
                    <label>Felhasználónév</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Jelszó</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="passwordAgain" required>
                    <span></span>
                    <label>Jelszó ismét</label>
                </div>
                <input id="registerButton" name="submit" type="Submit" value="Regisztráció">
            </form>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>